<div class="container">
  <header class="hero-unit">
    <h1>tidings</h1>
  </header>
  <div class="bd row-fluid">
    <div class="main span8">
      <div class="featured well">
        <h3>Popular stories</h3>
        <ul class="thumbnails">
          <li class="span4">
            <a href="">
              <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="">
              <h3>London all set for paralympics</h3>
              <p>The British High Commissioner, Sir James Bevan, pointed at the slogan &hellip;</p>
            </div>
            </a>
          </li>
          <li class="span4">
            <a href="">
              <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="">
              <h3>London all set for paralympics</h3>
              <p>The British High Commissioner, Sir James Bevan, pointed at the slogan &hellip;</p>
            </div>
            </a>
          </li>
          <li class="span4">
            <a href="">
              <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="">
              <h3>London all set for paralympics</h3>
              <p>The British High Commissioner, Sir James Bevan, pointed at the slogan &hellip;</p>
            </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="entries">
        <% items = @news_items.all %>
        <% items.each do |item| %>
          <div class="entry">
            <div class="row-fluid entry-hd">
              <div class="span6">
                <ul class="h-list">
                  <li><span class="badge badge-info">23</span> likes</li>
                  <li><span class="badge badge-info">11</span> shares</li>
                </ul>
              </div>
              <div class="span6 entry-published">
                <p>19 hours ago <!-- <%= item.publishedDate %> --></p>
              </div>
            </div>

            <h1 class="h3"><%= item.title %></h1>
            <p class="entry-text"><%= item.transformedText[0..430] %></p>
            <p><%= link_to "read more", item.link, :target => "_blank" %></p>
            <div class="meta">
              <span class="label"><%= item.category %></span>  
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="aside span4">
      <form class="form-search well">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
      </form>
      <h3>Categories</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#">Sports</a></li>
        <li class="active"><a href="#">Culture</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Design</a></li>
      </ul>
    </div>
  </div>

  

  <ul class="pager">  
    <% if !@news_items.first_page? %>
      <li>  
      <%= link_to "Previous", "/news#{"/#{@category if @category}"}?page=#{@news_items.current_page - 1}"%>
      </li>  
    <% end %>
    <% if !@news_items.last_page? %>
      <li>  
      <%= link_to "Next", "/news#{"/#{@category if @category}"}?page=#{@news_items.current_page + 1}"%>
      </li>  
    <% end%>
  </ul>
</div>
