<div class="container">
  <header class="hero-unit">
    <h1>tidings</h1>
  </header>

  <div class="bd row">
    <div class="main span8">
      <% items = @news_items.all %>
      <% items.each do |item| %>
        <div class="entry">
          <div class="entry-hd"><%= item.publishedDate %></div>
          <h1 class="h3"><%= item.title %></h1>
          <p class="entry-text"><%= item.transformedText[0..430] %><%= link_to "Read more", item.link, :target => "_blank" %></p>
          <div class="meta">
            <span class="label"><%= item.category %></span>  
          </div>
        </div>
      <% end %>
    </div>

    <div class="aside span4">
      <h3>Categories</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#">Sports</a></li>
        <li class="active"><a href="#">Culture</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Design</a></li>
      </ul>
    </div>
  </div>

  

  <ul class="pager">  
    <% if !@news_items.first_page? %>
      <li>  
      <%= link_to "Previous", "/news#{"/#{@category if @category}"}?page=#{@news_items.current_page - 1}"%>
      </li>  
    <% end %>
    <% if !@news_items.last_page? %>
      <li>  
      <%= link_to "Next", "/news#{"/#{@category if @category}"}?page=#{@news_items.current_page + 1}"%>
      </li>  
    <% end%>
  </ul>
</div>
